body{
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
	height: 100px;
	text-align: center;
	color: #ecf0f1;
}
h1{
	position: relative;
	top: 20px;
}
#main{
	background: #ecf0f1;
	width: 60%;
	height: 470px;
	font-size: 18px;
}
p{	
	font-weight: bold;
}
#r{
	position: relative;
	top: 20px;
	left: 50px;
	padding: 10px 10px 10px 10px;
}
input[type="radio"]{
	float: left;
	margin-right: 5px;
  	vertical-align: middle;
}
.row{
	border: 0.5px solid #bdc3c7;
	width: 90%;
	align-self: center;
	position: relative;
	left: 50px;
	top: 20px;
	height: 355px;
}
#form{
	position: relative;
	left: 70px;
}
#btn{
	position: relative;
	right: 40px;
	width: 100px;
	top: 40px;
}
#lb, #result{
	color: #3498db;
}