body{
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
	height: 100px;
	text-align: center;
	color: #ecf0f1;
}
h1{
	position: relative;
	top: 20px;
}
#main, #mainO{
	background: #ecf0f1;
	width: 60%;
	height: 470px;
	font-size: 18px;
}
#mainO{
	/*height: 550px;*/
}
p{	
	font-weight: bold;
}
#r{
	position: relative;
	top: 20px;
	left: 50px;
	padding: 10px 10px 10px 10px;
}
input[type="radio"]{
	float: left;
	margin-right: 5px;
  	vertical-align: middle;
}
.row{
	border: 0.5px solid #bdc3c7;
	width: 90%;
	align-self: center;
	position: relative;
	left: 50px;
	top: 20px;
	height: 355px;
}
.rowO{
	/*height: 450px;*/
}
#form{
	position: relative;
	left: 70px;
}
.form{
	position: relative;
	left: 70px;
}
.btn{
	position: relative;
	right: 40px;
	width: 100px;
	top: 40px;
}
#lb, #result{
	color: #3498db;
}
.lb, .result{
	color: #3498db;
	position: relative;
	left: 42px;
	top: 70px;
}
h4{
	font-weight: bold;
	color: #2980b9;
	position: relative;
	right: 70px;
}
hr{
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0.5px;
	border-color: #bdc3c7;
	width: 80%;
	position: relative;
	right: 100px;
}
label{
	text-align: right;
}
.btnO{
	position: relative;
	left: 320px;
	top: -33px;
}